<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="<%= meta_desc %>">
		<meta name="keywords" content="<%= meta_keywords %>">
		<meta name="author" content="<%= author %>">

		<title><%= company_name %></title>

		<!-- STYLE -->
		<link rel="stylesheet" href="css/style.min.css">

		<!-- SCRIPT -->
		<script src="js/lib/jquery.min.js"></script>
		<script src="js/app.min.js"></script>

	</head>
	<body>
		<!-- partial:partials/_navbar.html -->
  		<!-- partial -->
	</body>
</html>